main {
  background: rgb(245, 245, 245);
  padding: 16px;
}

.top_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid var(--cor-primaria);

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: var(--cor-primaria);
  background-color: var(--cor-branco);
}

.geral-products {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.products_title {
  background-color: blue;
  display: flex;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding: 30px;
}

.products-section {
  height: 100%;
  margin: 15px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 176px;
  height: 174px;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-add_input__url,
.product-add_input__name,
.product-add_input__price,
.product-add_textarea__description {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 12px 13px 12px;
  border-bottom: 1px solid var(--cor-secundaria);
  border-radius: 4px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
  border: solid black 1px;
}

.product-add_textarea__description {
  height: 81px;
  font-family: "Releway", sans-serif;
}

.product-submit_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  width: 15%;
  height: 51px;
  background: #2a7ae4;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
